name: "cleanup_files"
version: "0.1.0"
enabled: true
dependencies:
  - "desktop_notifier"
config:
  include_dirs:
    - "data"
  exclude_dirs:
    - "data/meeting_notes_local"
    - "data/meeting_notes_remote"
  cleanup_delay: 5
